In [36]:
#importing required libraries
import pandas as pd
import numpy as np

In [39]:
#Loading each data files
nike_data = pd.read_csv('datasets/nike_data.csv')
adidas_data = pd.read_csv('datasets/adidas_data.csv')
pepsi_data = pd.read_csv('datasets/pepsi_data.csv')
sony_data = pd.read_csv('datasets/sony_data.csv')

In [40]:
# Remove duplicates from each data files
nike_data.drop_duplicates(inplace=True)
adidas_data.drop_duplicates(inplace=True)
pepsi_data.drop_duplicates(inplace=True)
sony_data.drop_duplicates(inplace=True)

In [42]:
# Check for missing values in nike dataset 
print(nike_data.isnull().sum())
print(adidas_data.isnull().sum())

Date               0
Price              0
Open               0
High               0
Low                0
Vol.               0
Change %           0
Unnamed: 7     11105
Unnamed: 8     11105
Unnamed: 9     11105
Unnamed: 10    11105
Unnamed: 11    11105
Unnamed: 12    11105
dtype: int64
Date              0
Price             0
Open              0
High              0
Low               0
Vol.              0
Change %          0
Unnamed: 7     7372
Unnamed: 8     7372
Unnamed: 9     7372
Unnamed: 10    7372
Unnamed: 11    7372
Unnamed: 12    7372
dtype: int64

In [41]:
# Check for missing values in adidas dataset 
print(adidas_data.isnull().sum())

Date              0
Price             0
Open              0
High              0
Low               0
Vol.              0
Change %          0
Unnamed: 7     7372
Unnamed: 8     7372
Unnamed: 9     7372
Unnamed: 10    7372
Unnamed: 11    7372
Unnamed: 12    7372
dtype: int64

In [43]:
# Check for missing values in pepsi dataset 
print(pepsi_data.isnull().sum())

Date               0
Price              0
Open               0
High               0
Low                0
Vol.               0
Change %           0
Unnamed: 7     11284
Unnamed: 8     11284
Unnamed: 9     11284
Unnamed: 10    11284
Unnamed: 11    11284
Unnamed: 12    11284
dtype: int64

In [44]:
# Check for missing values in sony dataset 
print(sony_data.isnull().sum())

Date               0
Price              0
Open               0
High               0
Low                0
Vol.               0
Change %           0
Unnamed: 7     11285
Unnamed: 8     11285
Unnamed: 9     11285
Unnamed: 10    11285
Unnamed: 11    11285
Unnamed: 12    11285
dtype: int64

In [48]:
# Fill missing values with the mean for numeric columns 
#for nike
numeric_columns = nike_data.select_dtypes(include=[np.number]).columns 
nike_data[numeric_columns] = nike_data[numeric_columns].apply(lambda col: col.fillna(col.mean()), axis=0)

#for adidas
numeric_columns = adidas_data.select_dtypes(include=[np.number]).columns 
adidas_data[numeric_columns] = nike_data[numeric_columns].apply(lambda col: col.fillna(col.mean()), axis=0)

#for pepsi
numeric_columns = pepsi_data.select_dtypes(include=[np.number]).columns 
pepsi_data[numeric_columns] = nike_data[numeric_columns].apply(lambda col: col.fillna(col.mean()), axis=0)

#for sony
numeric_columns = sony_data.select_dtypes(include=[np.number]).columns
sony_data[numeric_columns] = nike_data[numeric_columns].apply(lambda col: col.fillna(col.mean()), axis=0)

In [49]:
# For non-numeric columns, you can choose to fill missing values with a placeholder or drop them 
#for nike
non_numeric_columns = nike_data.select_dtypes(exclude=[np.number]).columns 
nike_data[non_numeric_columns] = nike_data[non_numeric_columns].fillna("Missing")

#for adidas
non_numeric_columns = adidas_data.select_dtypes(exclude=[np.number]).columns 
adidas_data[non_numeric_columns] = adidas_data[non_numeric_columns].fillna("Missing")

#for pepsi
non_numeric_columns = pepsi_data.select_dtypes(exclude=[np.number]).columns 
pepsi_data[non_numeric_columns] = pepsi_data[non_numeric_columns].fillna("Missing")

#for sony
non_numeric_columns = sony_data.select_dtypes(exclude=[np.number]).columns 
sony_data[non_numeric_columns] = sony_data[non_numeric_columns].fillna("Missing")

In [50]:
# Check for missing values in each dataset 
print(nike_data.isnull().sum())
print(adidas_data.isnull().sum())
print(pepsi_data.isnull().sum())
print(sony_data.isnull().sum())

Date           0
Price          0
Open           0
High           0
Low            0
Vol.           0
Change %       0
Unnamed: 7     0
Unnamed: 8     0
Unnamed: 9     0
Unnamed: 10    0
Unnamed: 11    0
Unnamed: 12    0
dtype: int64
Date           0
Price          0
Open           0
High           0
Low            0
Vol.           0
Change %       0
Unnamed: 7     0
Unnamed: 8     0
Unnamed: 9     0
Unnamed: 10    0
Unnamed: 11    0
Unnamed: 12    0
dtype: int64
Date             0
Price          179
Open           179
High           179
Low            179
Vol.             0
Change %         0
Unnamed: 7     179
Unnamed: 8     179
Unnamed: 9     179
Unnamed: 10    179
Unnamed: 11      0
Unnamed: 12      0
dtype: int64
Date             0
Price          180
Open           180
High           180
Low            180
Vol.             0
Change %         0
Unnamed: 7     180
Unnamed: 8     180
Unnamed: 9     180
Unnamed: 10    180
Unnamed: 11      0
Unnamed: 12      0
dtype: int64

In [55]:
# Convert the 'Date' column to datetime format with a dayfirst=True
nike_data['Date'] = pd.to_datetime(nike_data['Date'], dayfirst=True, errors='coerce')
adidas_data['Date'] = pd.to_datetime(adidas_data['Date'], dayfirst=True, errors='coerce')
pepsi_data['Date'] = pd.to_datetime(pepsi_data['Date'], dayfirst=True, errors='coerce')
sony_data['Date'] = pd.to_datetime(sony_data['Date'], dayfirst=True, errors='coerce')

In [58]:
#Check for rows with invalid dates
print(nike_data[nike_data['Date'].isna()])
print(adidas_data[adidas_data['Date'].isna()])
print(pepsi_data[pepsi_data['Date'].isna()])
print(sony_data[sony_data['Date'].isna()])

      Date  Price   Open   High    Low    Vol. Change %  Unnamed: 7  \
9      NaT   0.15   0.15   0.15   0.15   6.64M    0.00%      50.825
10     NaT   0.15   0.15   0.15   0.15   6.63M    0.00%      50.825
11     NaT   0.14   0.14   0.15   0.14   4.67M   -6.67%      50.825
12     NaT   0.15   0.15   0.15   0.15  11.25M    7.14%      50.825
13     NaT   0.15   0.15   0.15   0.15  10.04M    0.00%      50.825
...    ...    ...    ...    ...    ...     ...      ...         ...
11102  NaT  76.90  77.98  79.00  76.84  14.38M   -1.41%      50.825
11103  NaT  77.10  76.94  77.94  76.43  27.07M    0.26%      50.825
11104  NaT  76.94  75.96  78.00  74.86  49.88M   -0.21%      50.825
11105  NaT  76.76  76.32  78.41  75.74  14.20M   -0.23%      50.825
11106  NaT  76.79  76.75  77.11  76.36   4.92M    0.04%      50.825

       Unnamed: 8  Unnamed: 9  Unnamed: 10 Unnamed: 11 Unnamed: 12
9          50.655      51.035        50.23     Missing     Missing
10         50.655      51.035        50.23     Missing     Missing
11         50.655      51.035        50.23     Missing     Missing
12         50.655      51.035        50.23     Missing     Missing
13         50.655      51.035        50.23     Missing     Missing
...           ...         ...          ...         ...         ...
11102      50.655      51.035        50.23     Missing     Missing
11103      50.655      51.035        50.23     Missing     Missing
11104      50.655      51.035        50.23     Missing     Missing
11105      50.655      51.035        50.23     Missing     Missing
11106      50.655      51.035        50.23     Missing     Missing

[6722 rows x 13 columns]
Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol., Change %, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12]
Index: []
Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol., Change %, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12]
Index: []
Empty DataFrame
Columns: [Date, Price, Open, High, Low, Vol., Change %, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12]
Index: []

In [60]:
#remove rows with invalid dates
nike_data = nike_data.dropna(subset=['Date'])
adidas_data = adidas_data.dropna(subset=['Date'])
pepsi_data = pepsi_data.dropna(subset=['Date'])
sony_data = sony_data.dropna(subset=['Date'])

In [62]:
# Save cleaned data 
nike_data.to_csv('datasets/cleaned_nike_data.csv', index=False)
adidas_data.to_csv('datasets/cleaned_adidas_data.csv', index=False)
pepsi_data.to_csv('datasets/cleaned_pepsi_data.csv', index=False)
sony_data.to_csv('datasets/cleaned_sony_data.csv', index=False)

In [64]:
#confirm data cleaning
print("Data cleaning completed and saved.")

Data cleaning completed and saved.